<div class="form-group">
    <label for="filterText">Search</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter search term">
</div>
<div *ngIf="filterText.length > 5" class="alert alert-success">
    You searched for {{filterText}}
</div>
<table class="table">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Player Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players| filterplayer:filterText" >
            <td>{{player.playerId}}</td>
            <td>{{player.playerName}}</td>
        </tr>
    </tbody>
</table>