<div class="form-group">
    <label for="filterText">Search</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter search term">
</div>
<div *ngIf="filterText.length > 5" class="alert alert-success">
    You searched for {{filterText}}
</div>
<table class="table">
    <thead>
        <tr>
            <th>Team ID</th>
            <th>Team Name</th>
        </tr>
    </thead>
    <tbody>
    
        <tr *ngFor="let team of teams | filterteam:filterText"  routerLink="/teams/players/{{team.teamId}}">
            <td>{{team.teamId}}</td>
            <td>{{team.teamName}}</td>
        </tr>
    </tbody>
</table>
