<div class="form-group">
    <label for="filterText">Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText.length>5" class="alert alert-success">
    {{filterText}} aradınız
  </div>
<table class="table">
    <thead>
        <tr>
            <th>Legue ID</th>
            <th>Legue Name</th>
            <th>Legue Logo</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let legue of legues | filterPipe:filterText" routerLink="/legues/teams/{{legue.legueId}}">
            <td>{{legue.legueId}}</td>
            <td>{{legue.legueName | uppercase}}</td>
            <td><img [src]="legue.legueLogo" alt="legue logo" width="50" height="50"></td>
        </tr>
    </tbody>
</table>